
    <template>
      <div class="card">
        <div class="card-header text-white bg-primary">
          <h3>Perfil</h3>
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Primer nombre</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Primer nombre" class="form-control" value.bind="contact.firstName">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 col-form-label">Primer Apellido</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Primer Apellido" class="form-control" value.bind="contact.lastName">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 col-form-label">Correo Electrónico</label>
              <div class="col-sm-9">
                <input type="text" placeholder="email" class="form-control" value.bind="contact.email">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 col-form-label">Teléfono</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Teléfono" class="form-control" value.bind="contact.phoneNumber">
              </div>
            </div>
          </form>
          <div>
            <button class="btn btn-success float-right" click.delegate="save()" disabled.bind="!canSave">Guardar</button>
        </div>
        </div>
      </div>
    </template>